name: PR Title Lint

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

permissions:
  pull-requests: read

jobs:
  semantic-pr:
    name: Validate PR Title (Conventional Commits)
    runs-on: ubuntu-latest

    steps:
      - name: Lint PR title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            refactor
            docs
            test
            chore

          requireScope: true

          scopes: |
            core
            setup
            auth
            ci
            docs
            infra
            backend
            frontend

          allowBreakingChanges: true

          subjectPattern: ^.{1,72}$
          subjectPatternError: |
            PR title subject must be 1-72 characters long.
